[Unit]
Description=Tag Bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/tag_bot
ExecStart=/root/apps/tag_bot/tag_bot
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/root/apps/tag_bot/config.env

[Install]
WantedBy=multi-user.target